apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
spec:
  replicas: 2  # This runs TWO copies of your app for reliability
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi-container
        image: hanzalak010/fastapi-app:latest # Your image!
        ports:
        - containerPort: 8000