apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
spec:
  replicas: 2 
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi-container
        image: hanzalak010/fastapi-app:latest
        ports:
        - containerPort: 8000
        # Put the env variables HERE, inside the single container definition
        env:
          - name: DATABASE_URL
            value: "postgresql://postgres:mysecretpassword@postgres-service:5432/fastapi_db"